Repository ngen-brett/gitlab-ce: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, lint-ci-gitlab

.gitlab/ci/qa.gitlab-ci.yml:

.package-and-qa-base:
  extends: .default-only
  image: ruby:2.6-alpine
  stage: qa
  needs: ["build-qa-image", "gitlab:assets:compile pull-cache"]
  dependencies: []
  variables:
    GIT_DEPTH: "1"
  retry: 0
  script:
    - source scripts/utils.sh
    - install_gitlab_gem
    - ./scripts/trigger-build omnibus

package-and-qa-manual:
  extends:
    - .package-and-qa-base
    - .only-code-changes
  when: manual

package-and-qa:
  extends:
    - .package-and-qa-base
  only:
    variables:
      - $CI_PROJECT_PATH == "gitlab-org/gitlab-ce"
      - $CI_PROJECT_PATH == "gitlab-org/gitlab-ee"
    changes:
      - qa/*
  except:
    refs:
      - master
  allow_failure: true

.gitlab/ci/yaml.gitlab-ci.yml:

# Yamllint of *.yml for .gitlab-ci.yml.
# This uses rules from project root `.yamllint`.
lint-ci-gitlab:
  extends:
    - .default-tags
    - .default-retry
    - .default-only
  only:
    changes:
      - .gitlab/ci/*
      - .gitlab-ci.yml
      - "*.yml"
      - "**/*.yml"
  image: sdesbure/yamllint:latest
  dependencies: []
  script:
    - yamllint .gitlab-ci.yml .gitlab/ci lib/gitlab/ci/templates changelogs

CE port: Document SRV handling for DB load balancing
  doc/administration/database_load_balancing.md
Due: none

Add table `zoom_meetings` including its model
  app/models/zoom_meeting.rb
  db/migrate/20190902123135_create_zoom_meetings.rb
  db/schema.rb
Due: none

Add FE data attribute
  app/assets/javascripts/clusters/clusters_bundle.js
  app/assets/javascripts/clusters/services/clusters_service.js
  app/views/clusters/clusters/show.html.haml
Due: none

Make a docs change
  doc/development/testing_guide/ci.md
Due: none

Create partial index for gitlab-monitor CI metrics
  changelogs/unreleased/ab-add-index-for-ci-builds-metrics.yml
  db/migrate/20190902152329_add_index_for_ci_builds_metrics.rb
  db/schema.rb
Due: lint-ci-gitlab

Make a QA change
  qa/README.md
Due: package-and-qa

Make a code change
  app/controllers/confirmations_controller.rb
Due: none

Apply suggestion to doc/integration/omniauth.md
  doc/integration/omniauth.md
Due: none

Add note that example is with Azure
  doc/integration/omniauth.md
Due: none

Remove Users.support_bot column
  changelogs/unreleased/ab-remove-support-bot-column.yml
  db/migrate/20190902160015_remove_support_bot_column_from_users.rb
  db/schema.rb
Due: lint-ci-gitlab

Process workhorse accelerated wiki uploads
  lib/api/wikis.rb
Due: none

Creates utils for the job log
  app/assets/javascripts/jobs/store/utils.js
  spec/frontend/jobs/store/utils_spec.js
Due: none

Add commit_path to releases endpoint
  lib/api/entities.rb
  spec/fixtures/api/schemas/release.json
Due: none

Make sure 'build-qa-image' is created for all pipelines
  .gitlab/ci/review.gitlab-ci.yml
Due: lint-ci-gitlab

Adds changelog
  changelogs/unreleased/66454-utils-parser.yml
Due: lint-ci-gitlab

Backport EE changes for productivity analytics
  app/models/merge_request/metrics.rb
  app/models/merge_request_diff.rb
  lib/gitlab/git/diff_collection.rb
  spec/lib/gitlab/git/diff_collection_spec.rb
  spec/models/merge_request/metrics_spec.rb
  spec/models/merge_request_diff_spec.rb
Due: none

Remove feature flags starting with `prometheus_transaction_`
  changelogs/unreleased/66150-remove-dynamically-constructed-feature-flags-starting-with-promethe.yml
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  lib/gitlab/metrics/transaction.rb
Due: lint-ci-gitlab

Optimize queries for snippet listings
  app/controllers/dashboard/snippets_controller.rb
  app/controllers/explore/snippets_controller.rb
  app/controllers/projects/snippets_controller.rb
  app/controllers/snippets_controller.rb
  app/controllers/users_controller.rb
  app/models/concerns/noteable.rb
  app/models/snippet.rb
  app/views/shared/snippets/_list.html.haml
  app/views/shared/snippets/_snippet.html.haml
  changelogs/unreleased/65988-optimize-snippet-listings.yml
  lib/gitlab/issuable_metadata.rb
  lib/gitlab/noteable_metadata.rb
  spec/lib/gitlab/noteable_metadata_spec.rb
Due: lint-ci-gitlab

Backport of ee/15773: Allow SmartCard authentication to use SAN extensions
  config/gitlab.yml.example
  doc/administration/auth/smartcard.md
Due: none

Adjust routable metric
  app/models/concerns/routable.rb
Due: none

Add markdownlint-cli to yarn dependencies
  package.json
  yarn.lock
Due: none

Add specs for duplicate service
  spec/services/issues/duplicate_service_spec.rb
Due: none

User helper to display closed issues label text
  app/helpers/issues_helper.rb
  app/views/projects/issues/show.html.haml
Due: none

Add changelog file
  changelogs/unreleased/57783-better-indication-that-an-issue-has-been-duplicated.yml
Due: lint-ci-gitlab

CE changes to support EE/!10395
  app/models/merge_request.rb
  app/models/protected_branch.rb
  app/services/protected_branches/create_service.rb
  db/migrate/20190729180447_add_merge_requests_require_code_owner_approval_to_protected_branches.rb
  spec/lib/gitlab/checks/diff_check_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: lint-ci-gitlab

Port 13665-data-and-privacy-agreement-for-gitlab-users to CE
  app/assets/javascripts/main.js
  app/assets/javascripts/privacy_policy_update_callout.js
  app/views/layouts/_page.html.haml
Due: none

Experiment with DAG for all MR jobs in post-test
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
  .gitlab/ci/test-metadata.gitlab-ci.yml
Due: lint-ci-gitlab

Add Danger Roulette rules for pipeline files
  lib/gitlab/danger/helper.rb
  lib/gitlab/danger/teammate.rb
  spec/lib/gitlab/danger/helper_spec.rb
  spec/lib/gitlab/danger/teammate_spec.rb
Due: none

Add approval MR rule to all_models.yml
  spec/lib/gitlab/import_export/all_models.yml
Due: lint-ci-gitlab

Use stub_rails_env for Rails.env stubbing
  spec/features/help_pages_spec.rb
  spec/features/user_can_display_performance_bar_spec.rb
  spec/helpers/icons_helper_spec.rb
  spec/helpers/version_check_helper_spec.rb
  spec/lib/gitlab/database/migration_helpers_spec.rb
  spec/lib/gitlab/gitaly_client_spec.rb
  spec/lib/gitlab/query_limiting/transaction_spec.rb
  spec/lib/gitlab/query_limiting_spec.rb
  spec/models/concerns/cacheable_attributes_spec.rb
  spec/models/concerns/sha_attribute_spec.rb
  spec/models/internal_id_spec.rb
  spec/tasks/gitlab/gitaly_rake_spec.rb
Due: none

Address review comment batch one
  config/initializers/sidekiq.rb
  lib/gitlab/sidekiq_independent_memory_killer.rb
  lib/gitlab/sidekiq_monitor.rb
Due: none

Update sidekiq_monitor_spec.rb per jobs structure change
  spec/lib/gitlab/sidekiq_monitor_spec.rb
Due: none

Changed @enabled value per start/stop
  lib/gitlab/sidekiq_independent_memory_killer.rb
Due: none

Update monitor_spec.rb
  spec/lib/gitlab/sidekiq_middleware/monitor_spec.rb
Due: none

Update feature flag name for Cycle Analytics
  doc/user/analytics/index.md
Due: none

Fix enable behavior
  lib/gitlab/sidekiq_independent_memory_killer.rb
Due: none

Use sidekiq_options rss_increase_kb in Worker to whitelist job
  app/workers/gitlab/github_import/stage/finish_import_worker.rb
  app/workers/gitlab/github_import/stage/import_repository_worker.rb
  app/workers/repository_import_worker.rb
  lib/gitlab/sidekiq_independent_memory_killer.rb
Due: none
